@use 'colors' as *;

.xterm,
.terminal {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px;
  scrollbar-color: $FG $BG;

  ::-webkit-scrollbar {
    color: $FG;
    background: $BG;
  }

  &-viewport {
    box-sizing: border-box;
  }

  &-screen {
    box-sizing: border-box;
  }
}
