@use "colors" as *;

.xterm, .terminal {
  scrollbar-color: $FG $BG;
  height: 100%;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    color: $FG;
    background: $BG;
  }
  &-viewport {
    box-sizing: border-box;
  }
  &-screen {
    box-sizing: border-box;
  }
}
