@use 'mixins' as *;
@use 'variables' as *;
@use 'colors' as *;

.taskbar {
  font: inherit;
  position: fixed;
  z-index: $TASKBAR-Z-INDEX;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $TASKBAR-HEIGHT;
  user-select: none;
  background-color: $TASKBAR-BG;
  color: $TASKBAR-FG;
  box-shadow: -10px -10px 30px black;

  &-menu-button {
    @include minimal-button($TASKBAR-BG, $TASKBAR-FG, lighten, 0, 100px);

    transition: all 200ms ease-in-out;
    border-left: 0 solid $ACCENT-COLOR;

    &:hover {
      border-left: 10px solid $ACCENT-COLOR;
      color: $ACCENT-COLOR;
    }

    &-active {
      @include minimal-button($TASKBAR-FG, $TASKBAR-BG, darken, 10%, 100px);

      border-left: 10px solid $ACCENT-COLOR;
      transition: all 200ms ease-in-out;

      &:hover {
        background-color: $ACCENT-COLOR;
        color: $BG;
      }
    }
  }

  &-app {
    @include minimal-button($TASKBAR-BG, $TASKBAR-FG, lighten, 30%, 60px);

    &:hover {
      color: $ACCENT-COLOR;
    }
  }

  &-app-focused {
    @include minimal-button(
      lighten($TASKBAR-BG, 20%),
      $TASKBAR-FG,
      lighten,
      30%,
      60px
    );
  }

  &-end {
    display: flex;
    overflow: hidden;
    align-items: center;
    margin-left: auto;

    &-element {
      box-sizing: border-box;
      padding: 15px;
      transition: all ease-in-out 0.2s;

      &:hover {
        color: $ACCENT-COLOR;
      }
    }
  }
}
