@use "mixins" as *;
@use "variables" as *;

.taskbar {
  user-select: none;
  font-family: inherit;
  font-size: inherit;
  position: fixed;
  display: inline-flex;
  left: 0;
  top: 0;
  height: $TASKBAR-HEIGHT;
  width: 100%;
  background-color: $TASKBAR-BG;
  color: $TASKBAR-FG;

  &-float-menu {
    position: fixed;
    z-index: 10000;
    background-color: lighten($TASKBAR-BG, 40%);
    color: inherit;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 40px;

    &-button {
      @include minimal-button($TASKBAR-BG, $TASKBAR-FG, 30%, 100px);
      font-size: 16px;
      padding: 10px;
    }
  }

  &-menu-button {
    @include minimal-button($TASKBAR-BG, $TASKBAR-FG, 100%, 100px);
    &:hover {
      color: $ACCENT-COLOR;
    }
    &-opened {
      @include minimal-button(darken($TASKBAR-FG, 10%), $TASKBAR-BG, 0%, 100px);
      &:hover {
        color: $ACCENT-COLOR;
      }
    }
  }

  &-app {
    @include minimal-button($TASKBAR-BG, $TASKBAR-FG, 30%, 50px);
    &:hover {
      color: $ACCENT-COLOR;
    }
  }

  &-app-focused {
    @include minimal-button(lighten($TASKBAR-BG, 20%), $TASKBAR-FG, 30%, 60px);
  }

  &-end {
    margin-left: auto;
  }

  &-element {
    @include minimal-button($TASKBAR-BG, $TASKBAR-FG, 00%, 150px);
    &:hover {
      color: $ACCENT-COLOR;
    }
  }
}
