@import "mixins";
@import "variables";

.titlebar {
  font-family: inherit;
  opacity: 0.8;
  background-color: $TITLEBAR-BG;
  color: white;
  height: $TITLEBAR-HEIGHT;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-left {
    font: inherit;
    font-size: inherit;
    margin-left: 20px;
    justify-content: flex-start;
  }

  &-center {
    align-self: center;
    justify-self: stretch;
    font: inherit;
    font-size: inherit;
  }

  &-right {
    display: flex;
    border: none;
    padding: none;
    height: 100%;
    margin: 0;
    justify-content: flex-end;
    align-items: center;

    &-button {
      @include minimal-button($TITLEBAR-BG, $TITLEBAR-FG, 30%, 50px);

      &-close {
        @include minimal-button(red, white, 30%, 50px);

        &:hover {
          background-color: darken(red, 20%);
        }
      }
    }
  }
}
