@import 'mixins';
@import 'variables';

.titlebar {
  font-family: inherit;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $TITLEBAR-HEIGHT;
  opacity: 0.8;
  color: white;
  background-color: $TITLEBAR-BG;

  &-left {
    font: inherit;
    font-size: inherit;
    justify-content: flex-start;
    margin-left: 20px;
  }

  &-center {
    font: inherit;
    font-size: inherit;
    align-self: center;
    justify-self: stretch;
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin: 0;
    padding: none;
    border: none;

    &-button {
      @include minimal-button($TITLEBAR-BG, $TITLEBAR-FG, 30%, 50px);

      &-close {
        @include minimal-button(red, white, 30%, 50px);

        &:hover {
          background-color: darken(red, 20%);
        }
      }
    }
  }
}
