@use "mixins" as *;
@use "variables" as *;

.titlebar {
  font-family: inherit;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $TITLEBAR-HEIGHT;
  opacity: 0.8;
  color: $TITLEBAR-FG;
  background-color: $TITLEBAR-BG;
  user-select: none;

  &-left {
    font: inherit;
    font-size: inherit;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    margin-left: 20px;
  }

  &-center {
    font: inherit;
    font-size: inherit;
    align-self: center;
    justify-self: stretch;
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin: 0;
    padding: none;
    border: none;

    &-button {
      @include minimal-button($TITLEBAR-BG, $TITLEBAR-FG, lighten, 30%, 50px);

      &-close {
        @include minimal-button(red, white, darken, 20%, 50px);
      }
    }
  }
}
