// Ashes Color Scheme;
$BG : #1c2023 ;
$FG : #c7ccd1 ;
$CURSOR : #c7ae95 ;

$C0 : #1c2023 ;
$C1 : #c7ae95 ;
$C2 : #95c7ae ;
$C3 : #aec795 ;
$C4 : #ae95c7 ;
$C5 : #c795ae ;
$C6 : #95aec7 ;
$C7 : #c7ccd1 ;
$C8 : #747c84 ;
$C9 : #c7ae95 ;
$C10 : #95c7ae ;
$C11 : #aec795 ;
$C12 : #ae95c7 ;
$C13 : #c795ae ;
$C14 : #95aec7 ;
$C15 : #f3f4f5 ;