@use "colors" as *;

@mixin minimal-button($bg, $fg, $lighten-amount, $width) {
  background-color: $bg;
  color: $fg;
  font: inherit;
  overflow-x: hidden;
  width: $width;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color 125ms ease-in-out, transform 75ms ease;

  &:hover {
    background-color: lighten($bg, $lighten-amount);
  }

  &:active {
    transform: scale(0.9);
  }
}

@mixin google-font($family) {
  // stylelint-disable
  @import url(https://fonts.googleapis.com/css?family=#{$family});
  // stylelint-enable
}

@mixin flex-max-center {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin theme {
  color: $FG;
  background-color: $BG;
}

@mixin theme-invert {
  color: $BG;
  background-color: $FG;
}
