@use "colors" as *;

@mixin minimal-button($bg, $fg, $change-type, $change-amount, $width) {
  background-color: $bg;
  color: $fg;
  width: $width;
  font: inherit;
  overflow: hidden;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color 125ms ease-in-out, transform 75ms ease;

  &:hover {
    @if $change-type == lighten {
      background-color: lighten($bg, $change-amount);
    } @else {
      background-color: darken($bg, $change-amount);
    }
  }

  &:active {
    transform: scale(0.9);
  }
}

@mixin google-font($family) {
  // stylelint-disable
  @import url(https://fonts.googleapis.com/css?family=#{$family});
  // stylelint-enable
}

@mixin flex-max-center {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin theme {
  color: $FG;
  background-color: $BG;
}

@mixin theme-invert {
  color: $BG;
  background-color: $FG;
}
