@use 'colors';
@use 'fonts';
// Fonts
html {
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;

  body {
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    color: colors.$FG;
    background: colors.$BG;
    overscroll-behavior: contain;
  }
}

#root {
  position: fixed;
  height: 100%;
  width: 100%;
}
