@use 'mixins' as *;
@use 'colors' as *;
@use 'transitions';

// Fonts
@include google-font("Lato:100,300,400");
@include google-font("Inconsolata");

.fade {
  @include transitions.fade(0.5s);
}
.expand {
  @include transitions.expand(0.5s);
}

html {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  body {
    @include theme;

    font-family: "Inconsolata", monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
  }
}

#root {
  position: fixed;
  width: 100%;
  height: 100%;
}

*,
*:focus,
*:hover {
  outline: none;
}
