@use "mixins" as *;
@use 'colors' as *;

// Fonts
@include google-font("Lato:100,300,400");
@include google-font("Inconsolata");

html {
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;

  body {
    @include theme;

    font-family: "Inconsolata", monospace;
    font-size: 16px;
    overscroll-behavior: contain;
  }
}

#root {
  position: fixed;
  height: 100%;
  width: 100%;
}

*,
*:focus,
*:hover {
  outline: none;
}
